.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	padding: 0px 15px 5px 15px;
}
.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	color: #000 !important;
	background-color: #F2F2F2
}
