.mui-table-view-cell {
	border: none !important;
}

.mui-grid-view {
	border: none !important;
}


/*.mui-active {
	height: 50px;
}*/

.mui-popover {
	height: 70%;
	width: 100% !important;
	background-color: #FFFFFF !important;
	border-radius: 0px !important;
}

.mui-table-view-cell::after {
	left: 0px !important;
}

.mui-popover-arrow {
	width: 0px !important;
	height: 0px !important;
}
#middlePopover3{
	height: 180px !important;
}
