<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/video-js.min.css" />
		<link rel="stylesheet" href="../fonts/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/colleges_211_985_body.css" />
	</head>

	<body>
		<div class="mui-content">
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view" style="border-bottom: 8px solid #F2F2F2 !important;">
						<li class="mui-table-view-cell">
							<h4 style="font-weight: normal;"><span id="colleges"></span>大学简介</h4>
						</li>
						<li class="mui-table-view-cell mui-collapse" id="accordion">
							<span id="bufenContent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="collegeIntroducebufen"></span></span>
							<div style="width: 100%;text-align: center;">
								<a class="mui-icon iconfont icon-jiantoukongdown" href="#" style="font-size: 20px;margin-top: 10px;width: 100%;color: #000000;" id="accordionimg"></a>
							</div>
							<div class="mui-collapse-content">
								<span id="bufenContentAll">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="collegeIntroducezt"></span></span>
								<div style="width: 100%;text-align: center;">
									<a class="mui-icon iconfont icon-jiantoukongup" href="#" style="font-size: 20px;margin-top: 10px;width: 100%;color: #000000;display: none;" id="accordionimgxia"></a>
								</div>
							</div>
						</li>
					</ul>
					<!--<ul class="mui-table-view" style="border-bottom: 8px solid #F2F2F2 !important;">
						<li class="mui-table-view-cell">
							<h4 style="font-weight: normal;">视频简介</h4>
						</li>
						<li class="mui-table-view-cell" id="videoSource">
							
						</li>
					</ul>-->

					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<h4 style="font-weight: normal;">学校列表</h4>
						</li>
						<script id="daquan" type="text/html">
							{{if list}} {{each list as value i}}
							<li class="mui-table-view-cell mui-media collegesDetailsFlag" style="border-bottom: 8px solid #F2F2F2 !important;" data-collegeID="{{list[i].collegeID}}" data-collegeLogo="{{list[i].collegeLogo}}" data-collegeName="{{list[i].collegeName}}" data-collegeTag="{{list[i].collegeTag}}" data-collegeIDNumber="{{list[i].collegeIDNumber}}">
								<a href="#">
									<span style="width: 20%;position: absolute;top:50%;"><img class="mui-pull-left" src="{{list[i].collegeLogo}}"+size+"" style="width:100%;border-radius: 50%;position: absolute;top:50%;margin-top: -35px;"></span>
									<div class="mui-media-body">
										<div style="width: 75%;" class="mui-pull-right">
											<h3 style="font-weight: normal;display: inline-block;white-space: normal;width: 70%;">{{list[i].collegeName}}</h3><span style="margin: 0px 0px 10px 10px;color: #8f8f94;">{{list[i].collegeProvince}}</span>
											<p class="mui-ellipsis"><span style="float: left;width: 50%;white-space: normal;">大学学历:<span style="color: #00BBFF;">{{list[i].collegeDegree}}</span></span><span style="float: right;width: 50%;white-space: normal;">人气:<span style="color: #00BBFF;">{{list[i].peopleHeat}}</span></span>
											</p>
											<p class="mui-ellipsis" style="white-space: normal;">
												{{if JSON(list[i].collegeTag).length!=0}} {{each JSON(list[i].collegeTag) as value k}} {{if k
												<6}} <button type="button" class="mui-btn" style="width:'+(20+clearSpace(JSON(list[i].collegeTag)[k]))+'%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;font-size: 68%;padding-left: 5px;padding-right: 5px;">{{JSON(list[i].collegeTag)[k]}}</button>
													{{/if}} {{/each}} {{else}}
													<button type="button" class="mui-btn mui-ellipsis" style="width:32%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;padding-right: 5px;padding-left: 5px;visibility: hidden;">占位</button> {{/if}}

											</p>
										</div>
									</div>
								</a>
							</li>
							{{/each}} {{/if}}
						</script>
						<div id="collegesDa"></div>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/colleges_211_985_body.js"></script>

	</body>

</html>