<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../fonts/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/colleges_daquan_details_body.css" />
	</head>

	<body>
		<div class="mui-content">
			<div id="middlePopover1" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div id="scroll1" class="mui-scroll-wrapper" style="height: 100%;">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;">
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="0" data-city="不限">
								不限
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10000" data-city="上海">
								上海
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10001" data-city="云南">
								云南
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10002" data-city="内蒙古">
								内蒙古
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10003" data-city="北京">
								北京
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10004" data-city="吉林">
								吉林
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10005" data-city="四川">
								四川
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10006" data-city="天津">
								天津
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10007" data-city="宁夏">
								宁夏
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10008" data-city="安徽">
								安徽
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10009" data-city="山东">
								山东
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10010" data-city="山西">
								山西
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10011" data-city="广东">
								广东
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10012" data-city="广西">
								广西
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10013" data-city="新疆">
								新疆
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10014" data-city="江苏">
								江苏
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10015" data-city="江西">
								江西
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10016" data-city="河北">
								河北
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10017" data-city="河南">
								河南
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10018" data-city="浙江">
								浙江
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10019" data-city="海南">
								海南
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10020" data-city="香港">
								香港
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10021" data-city="湖北">
								湖北
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10022" data-city="湖南">
								湖南
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10023" data-city="甘肃">
								甘肃
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10024" data-city="福建">
								福建
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10025" data-city="西藏">
								西藏
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10026" data-city="贵州">
								贵州
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10027" data-city="辽宁">
								辽宁
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10028" data-city="重庆">
								重庆
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10029" data-city="陕西">
								陕西
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10030" data-city="青海">
								青海
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10031" data-city="黑龙江">
								黑龙江
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10145" data-city="澳门">
								澳门
							</li>
							<li class="mui-table-view-cell mui-media areaFlag" data-provinceNumber="10146" data-city="台湾">
								台湾
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="middlePopover2" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div id="scroll2" class="mui-scroll-wrapper" style="height: 100%;">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;">
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="0" data-kind="不限">
								不限
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10039" data-kind="综合类">
								综合类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10040" data-kind="理工类">
								理工类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10041" data-kind="农林类">
								农林类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10042" data-kind="医药类">
								医药类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10043" data-kind="师范类">
								师范类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10044" data-kind="语言类">
								语言类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10045" data-kind="财经类">
								财经类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10046" data-kind="政法类">
								政法类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10047" data-kind="体育类">
								体育类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10048" data-kind="艺术类">
								艺术类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10049" data-kind="民族类">
								民族类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10097" data-kind="军事类">
								军事类
							</li>
							<li class="mui-table-view-cell mui-media kindFlag" data-zongheNumber="10098" data-kind="其他">
								其他
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="middlePopover3" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div id="scroll3" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;">
							<li class="mui-table-view-cell mui-media sxuanFlag" data-degreeNumber="0" data-sxuan="不限">
								不限
							</li>
							<li class="mui-table-view-cell mui-media sxuanFlag" data-degreeNumber="10032" data-sxuan="本科">
								本科
							</li>
							<li class="mui-table-view-cell mui-media sxuanFlag" data-degreeNumber="10033" data-sxuan="专科">
								专科
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--<div id="middlePopover4" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;">
							<li class="mui-table-view-cell mui-media">
								贵州4
							</li>
							<li class="mui-table-view-cell mui-media">
								北京
							</li>
							<li class="mui-table-view-cell mui-media">
								不限
							</li>
							<li class="mui-table-view-cell mui-media">
								贵州
							</li>
							<li class="mui-table-view-cell mui-media">
								北京
							</li>
							<li class="mui-table-view-cell mui-media">
								不限
							</li>
						</ul>
					</div>
				</div>
			</div>-->
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view" id="collegesDa">
						<script id="daquan" type="text/html">
							{{if list}} {{each list as value i}}
							<li class="mui-table-view-cell mui-media collegesDetailsFlag" style="border-bottom: 8px solid #F2F2F2 !important;" data-collegeID="{{list[i].collegeID}}" data-collegeLogo="{{list[i].collegeLogo}}" data-collegeName="{{list[i].collegeName}}" data-collegeTag="{{list[i].collegeTag}}" data-collegeIDNumber="{{list[i].collegeIDNumber}}">
								<a href="#">
									<span style="width: 20%;position: absolute;top:50%;"><img class="mui-pull-left" src="{{list[i].collegeLogo}}"+size+"" style="width: 100%;border-radius: 50%;position: absolute;top:50%;margin-top: -35px;"></span>
									<div class="mui-media-body">
										<div style="width: 75%;" class="mui-pull-right">
											<h3 style="font-weight: normal;display: inline-block;white-space: normal;width: 70%;">{{list[i].collegeName}}</h3><span style="margin: 0px 0px 10px 10px;color: #8f8f94;">{{list[i].collegeProvince}}</span>
											<p class="mui-ellipsis"><span style="float: left;width: 50%;white-space: normal;">大学学历:<span style="color: #00BBFF;">{{list[i].collegeDegree}}</span></span><span style="float: right;width: 50%;white-space: normal;">人气:<span style="color: #00BBFF;">{{list[i].peopleHeat}}</span></span></p>
											<p class="mui-ellipsis" style="white-space: normal;">
												{{if JSON(list[i].collegeTag).length!=0}}
												{{each JSON(list[i].collegeTag) as value k}}
												{{if k<6}}	
												<button type="button"  class="mui-btn" style="width:'+(20+clearSpace(JSON(list[i].collegeTag)[k]))+'%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;font-size: 68%;padding-left: 5px;padding-right: 5px;">{{JSON(list[i].collegeTag)[k]}}</button>
												{{/if}}
												{{/each}}
												{{else}}
												<button type="button" class="mui-btn mui-ellipsis" style="width:32%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;padding-right: 5px;padding-left: 5px;visibility: hidden;">占位</button>
												{{/if}}
												
											</p>
										</div>
									</div>
								</a>
							</li>
							{{/each}} {{/if}}
							{{if resultList}} {{each resultList as value i}}
							<li class="mui-table-view-cell mui-media collegesDetailsFlag" style="border-bottom: 8px solid #F2F2F2 !important;" data-collegeID="{{resultList[i].collegeID}}" data-collegeLogo="{{resultList[i].collegeLogo}}" data-collegeName="{{resultList[i].collegeName}}" data-collegeTag="{{resultList[i].collegeTag}}" data-collegeIDNumber="{{resultList[i].collegeIDNumber}}">
								<a href="#">
									<span style="width: 20%;position: absolute;top:50%;"><img class="mui-pull-left" src="{{resultList[i].collegeLogo}}"+size+"" style="width: 100%;border-radius: 50%;position: absolute;top:50%;margin-top: -35px;"></span>
									<div class="mui-media-body">
										<div style="width: 75%;" class="mui-pull-right">
											<h3 style="font-weight: normal;display: inline-block;white-space: normal;width: 70%;">{{resultList[i].collegeName}}</h3><span style="margin: 0px 0px 10px 10px;color: #00BBFF;">Top{{resultList[i].ranking}}</span>
											<p class="mui-ellipsis"><span style="float: left;width: 50%;white-space: normal;">大学学历:<span style="color: #00BBFF;">{{resultList[i].collegeDegree}}</span></span><span style="float: right;width: 50%;white-space: normal;">人气:<span style="color: #00BBFF;">{{resultList[i].peopleHeat}}</span></span></p>
											<p class="mui-ellipsis" style="white-space: normal;">
												{{if JSON(resultList[i].collegeTag).length!=0}}
												{{each JSON(resultList[i].collegeTag) as value k}}
												{{if k<6}}	
												<button type="button"  class="mui-btn" style="width:'+(20+clearSpace(JSON(resultList[i].collegeTag)[k]))+'%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;font-size: 68%;padding-left: 5px;padding-right: 5px;">{{JSON(resultList[i].collegeTag)[k]}}</button>
												{{/if}}
												{{/each}}
												{{else}}
												<button type="button" class="mui-btn mui-ellipsis" style="width:32%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;padding-right: 5px;padding-left: 5px;visibility: hidden;">占位</button>
												{{/if}}
												
											</p>
										</div>
									</div>
								</a>
							</li>
							{{/each}} {{/if}}
						</script>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/colleges_daquan_details_body.js"></script>
	</body>

</html>