<!doctype html>
<html class="feedback">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../fonts/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../css/main_details_body.css" />

	</head>

	<body>
		<div class="mui-content">
			<div id="middlePopover" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="listshareing" class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border: none;position: fixed;z-index: 9999;">
							<li class="mui-table-view-cell mui-media mui-col-xs-4 share-page-flag" data-shareID="weixin" data-shareex="WXSceneSession">
								<a href="#">
									<span><img src="../img/weixin.png" width="60" style="margin-top: -10px;"/></span>
									<div class="mui-media-body" style="margin-top: 0px;">微信好友</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 share-page-flag" data-shareID="weixin" data-shareex="WXSceneTimeline">
								<a href="#">
									<span><img src="../img/friendquan.png" width="38"/></span>
									<div class="mui-media-body">朋友圈</div>
								</a>
							</li>
							<!--<li class="mui-table-view-cell mui-media mui-col-xs-4 share-page-flag" data-shareID="sinaweibo" data-shareex="">
								<a href="#">
									<span><img src="../img/sinaweibo.png" width="32"/></span>
									<div class="mui-media-body">新浪微博</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 share-page-flag" data-shareID="tencentweibo" data-shareex="">
								<a href="#">
									<span><img src="../img/tenxun.png" width="25"/></span>
									<div class="mui-media-body">腾讯微博</div>
								</a>
							</li>-->
							<li class="mui-table-view-cell mui-media mui-col-xs-4 share-page-flag" data-shareID="qq" data-shareex="">
								<a href="#">
									<span><img src="../img/qq.png" width="40"/></span>
									<div class="mui-media-body" style="margin-top: 4px;">QQ</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view" id="topDetails">
						<script type="text/html" id="detailsDataT">
							{{if list}}
							<li class="mui-table-view-cell mui-media">
								<img class="mui-media-object mui-pull-left head-img" id="head-img" src="{{list.user.photo}}" style="width: 15%;border-radius: 50%;min-width: 40px;">
								<div class="mui-media-body">
									{{list.user.nickName}}
									<p class='mui-ellipsis'>{{list.communication.formatDate}}</p>
								</div>
								<div style="margin-top: 10px;">
									<p style="color: #000000;font-size: 18px;text-indent:2em;margin-bottom: 10px;">{{list.communication.content}}</p>
									<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border: none;">
										{{if list.images.length==0}} {{/if}} {{if list.images.length==1}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[0].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/if}} {{if list.images.length==2}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==3}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==4}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==5}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==6}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==7}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==8}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4 " style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}} {{if list.images.length==9}} {{each list.images as value j}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4" style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p><img src="{{list.images[j].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list.communication.communicationID}}" style="height: 100px;" /></p>
											</a>
										</li>
										{{/each}} {{/if}}
									</ul>
								</div>
								<ul id="details" class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;height: 40px;border: none ;padding-top: 15px;">
									<li class="mui-table-view-cell mui-media mui-col-xs-4" style="height: 40px;border: none;padding-top:0px;">
										<a data-communicationID="{{list.communication.communicationID}}" data-shoucangID="{{list.communication.communicationID}}" data-shoucanglikes="{{list.communication.likes}}" href="#" style="font-size: 100%;color: #ea8010 !important;" class="mui-icon iconfont icon-shoucang shoucang-changeflag">
											<span style="font-size: 12px;color:#ea8010;padding: 2px 0px 10px 2px;position: absolute;">{{list.communication.likes}}</span>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-4 clickshare-page-flag" style="height: 40px;border: none;padding-top:0px;padding-left:0px;">
										<a href="#" style="font-size: 100%;" class="mui-icon iconfont icon-zuihouyibanfenxiang">
											<span style="font-size: 12px;padding: 2px 0px 10px 2px;position: absolute;">分享</span>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-4 deatilscontent-flag" style="height: 40px;border: none;padding-top:0px;">
										<a href="#" style="font-size: 100%;" class="mui-icon iconfont icon-pinglun">
											<span style="font-size: 12px;padding: 2px 0px 10px 2px;position: absolute;">{{list.commontNo}}</span>
										</a>
									</li>

								</ul>
							</li>
							{{/if}}
						</script>
					</ul>

					<ul class="mui-table-view" style="border-top: 8px solid #F2F2F2;background-color: #FFFFFF;">
						<li class="mui-table-view-cell mui-col-xs-12" style="text-align: left;">
							<span>评论(<span id="totalRecord"></span>)</span>
						</li>
						<div id="pinglun"></div>
						<script type="text/html" id="detailsDataB">
							{{if list}} {{each list as value i}}
							<li class="mui-table-view-cell">
								<a href="#">
									<img class="mui-media-object mui-pull-left head-img" id="head-img" src="{{list[i].user.photo}}" style="width: 15%;border-radius: 50%;min-width: 40px;">
									<div class="mui-media-body">
										{{list[i].user.nickName}}
										<p class="mui-ellipsis">{{list[i].command.formatDate}}</p>
									</div>
								</a>
								<div style="margin-top: 10px;">
									<p class="deatilscontent-flag" style="color: #000000;font-size: 18px;margin-bottom: 10px;text-indent:2em">{{list[i].command.commandContent}}</p>
									<ul id="deBottom" class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border: none;margin-top: 10px;">
										{{each list[i].images as value k}}
										<li class="mui-table-view-cell mui-media mui-col-xs-4" style="padding: 0px 2.5px;">
											<a href="#" style="padding: 0px;">
												<p>
													<img src="{{list[i].images[k].imageUrl}}" +size+ "" data-preview-src="" data-preview-group="{{list[i].command.commandID}}" style="height: 100px;width: 100%;"/>
												</p>
											</a>
										</li>
										{{/each}}
									</ul>
								</div>
							</li>
							{{/each}} {{/if}}
						</script>
					</ul>
					<!--<div id="mainDetails" class="mui-loader"><img src="../img/pinglun.png" width="100px" />
						<div style="margin-top: 10px;">还没有评论,你来试试?</div>
					</div>-->
				</div>
			</div>
		</div>
		<footer class="mui-bar mui-bar-tab">
			<div id="replay" class="mui-h6" style="display: none; height: 20px;">
				回复
				<span id="rdnickname" class="mui-ellipsis"><!--烦啊烦--></span>
			</div>
			<div class="mui-input-row" style="background-color: #FFFFFF;">
				<button id="addBtn" type="button" class="mui-btn-nav mui-icon mui-icon-plusempty" style="margin-top: 10px;width: 50px;height: 45px;font-size: 35px;padding: 5px;border: none;"></button>
				<textarea id="question" class="footer-left" type="text" placeholder="请输入您的评论" rows="1" cols="20" onkeyup="pinglun(this)"></textarea>
				<button id="submit" type="button" class="mui-btn-nav footer-right">
					发送
				</button>
				<div id='image-list' class="row image-list" style="display: none;"></div>
			</div>
		</footer>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../js/main_details_body.js"></script>
	</body>

</html>