<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../fonts/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/professional_daquan.css" />
	</head>

	<body>
		<div id="middlePopover1" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div id="scroll1" class="mui-scroll-wrapper" style="height: 100%;">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;">
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="0" data-undergraduateCourse="不限">
								不限
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10000" data-undergraduateCourse="文学类">
								文学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10001" data-undergraduateCourse="理学类">
								理学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10002" data-undergraduateCourse="哲学类">
								哲学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10003" data-undergraduateCourse="教育学类">
								教育学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10004" data-undergraduateCourse="法学类">
								法学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10005" data-undergraduateCourse="管理学类">
								管理学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10006" data-undergraduateCourse="经济学类">
								经济学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10007" data-undergraduateCourse="农学类">
								农学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10008" data-undergraduateCourse="工学类">
								工学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10009" data-undergraduateCourse="医学类">
								医学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10010" data-undergraduateCourse="历史学类">
								历史学类
							</li>
							<li class="mui-table-view-cell mui-media undergraduateCourseFlag" data-provinceNumber="10011" data-undergraduateCourse="艺术学类">
								艺术学类
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div id="middlePopover2" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div id="scroll2" class="mui-scroll-wrapper" style="height: 100%;">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;">
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="0" data-specialist="不限">
								不限
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10039" data-specialist="交通运输类">
								交通运输类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10040" data-specialist="生化与药品类">
								生化与药品类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10041" data-specialist="资源开发与测绘类">
								资源开发与测绘类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10042" data-specialist="材料与能源类">
								材料与能源类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10043" data-specialist="土建类">
								土建类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10044" data-specialist="水利类">
								水利类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10045" data-specialist="制造类">
								制造类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10046" data-specialist="电子信息类">
								电子信息类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10047" data-specialist="环保、气象与安全类">
								环保、气象与安全类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10048" data-specialist="财经类">
								财经类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10049" data-specialist="医药卫生类">
								医药卫生类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10097" data-specialist="旅游类">
								旅游类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10098" data-specialist="公共事业类">
								公共事业类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10046" data-specialist="文化教育类">
								文化教育类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10047" data-specialist="艺术设计传媒类">
								艺术设计传媒类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10048" data-specialist="公安类">
								公安类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10049" data-specialist="轻纺食品类">
								轻纺食品类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10097" data-specialist="法律类">
								法律类
							</li>
							<li class="mui-table-view-cell mui-media specialistFlag" data-zongheNumber="10098" data-specialist="公共事业类">
								农林牧渔类
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="middlePopover3" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div id="scroll3" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" style="background-color: #FFFFFF;" id="sXuan">
							<srcipt type="text/html" id="sXuanZ">
								{{if list}}
								{{each list as value i}}
								<li class="mui-table-view-cell mui-media filterFlag"  data-filter="{{list[i]}}">
									{{list[i]}}
								</li>
								{{/each}}
								{{/if}}
							</srcipt>
						</ul>
					</div>
				</div>
			</div>
		<div class="mui-content">
			
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view" id="proDaQuanCo">
						<script id="proDaQuan" type="text/html">
							{{if resultList}} {{each resultList as value i}}
							<li class="mui-table-view-cell mui-media proDaQuanFlag" style="border-bottom: 8px solid #F2F2F2 !important;" data-zyid="{{resultList[i].zyid}}" data-specialName="{{resultList[i].specialname}}">
								<a href="#">
									<div class="mui-media-body">
										<div style="width: 100%;" class="mui-pull-right">
											<h3 style="font-weight: normal;display: inline-block;white-space: normal;width: 70%;">{{resultList[i].specialname}}</h3>
											<p class="mui-ellipsis"><span style="float: left;width: 50%;white-space: normal;">大学学历:  <span style="color: #00BBFF;font-size: 16px;">{{resultList[i].zycengci}}</span></span><span style="float: right;width: 50%;white-space: normal;">人气:  <span style="color: #00BBFF;font-size: 16px;">{{resultList[i].peopleHeat}}</span></span>
											</p>
											<p class="mui-ellipsis"><span style="float: left;width: 50%;white-space: normal;">专业排名:  <span style="color: #00BBFF;font-size: 16px;">{{resultList[i].ranking}}</span></span><span style="float: right;width: 50%;white-space: normal;">专业代码:  <span style="color: #00BBFF;font-size: 16px;">{{resultList[i].code}}</span></span>
											</p>

										</div>
									</div>
								</a>
							</li>
							{{/each}} {{/if}}
						</script>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/professional_daquan.js"></script>
	</body>

</html>