<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/common.css" />
		<style>
			.mui-table-view-cell::after {
				left: 0px !important;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view" id="collegesDa">
						<script id="daquan" type="text/html">
							{{if searchList}} {{each searchList as value i}}
							<li class="mui-table-view-cell mui-media collegesDetailsFlag" style="border-bottom: 8px solid #F2F2F2 !important;" data-collegeID="{{searchList[i].collegeID}}" data-collegeLogo="{{searchList[i].collegeLogo}}" data-collegeName="{{searchList[i].collegeName}}" data-collegeTag="{{searchList[i].collegeTag}}" data-collegeIDNumber="{{searchList[i].collegeIDNumber}}">
								<a href="#">
									<span style="width: 20%;position: absolute;top:50%;"><img class="mui-pull-left" src="{{searchList[i].collegeLogo}}"+size+"" style="width: 100%;border-radius: 50%;position: absolute;top:50%;margin-top: -35px;"></span>
									<div class="mui-media-body">
										<div style="width: 75%;" class="mui-pull-right">
											<h3 style="font-weight: normal;display: inline-block;white-space: normal;width: 70%;">{{searchList[i].collegeName}}</h3><span style="margin: 0px 0px 10px 10px;color: #8f8f94;">{{searchList[i].collegeProvince}}</span>
											<p class="mui-ellipsis"><span style="float: left;width: 50%;white-space: normal;">大学学历:<span style="color: #00BBFF;">{{searchList[i].collegeDegree}}</span></span><span style="float: right;width: 50%;white-space: normal;">人气:<span style="color: #00BBFF;">{{searchList[i].peopleHeat}}</span></span>
											</p>
											<p class="mui-ellipsis" style="white-space: normal;">
												{{if JSON(searchList[i].collegeTag).length!=0}} {{each JSON(searchList[i].collegeTag) as value k}} {{if k
												<6}} <button type="button" class="mui-btn" style="width:'+(20+clearSpace(JSON(searchList[i].collegeTag)[k]))+'%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;font-size: 68%;padding-left: 5px;padding-right: 5px;">{{JSON(searchList[i].collegeTag)[k]}}</button>
													{{/if}} {{/each}} {{else}}
													<button type="button" class="mui-btn mui-ellipsis" style="width:32%;margin-bottom: 5px;background-color: #00BBFF;border-color: rgba(255,255,255,0.5);color: #FFFFFF;padding-right: 5px;padding-left: 5px;visibility: hidden;">占位</button> {{/if}}

											</p>
										</div>
									</div>
								</a>
							</li>
							{{/each}} {{/if}}
						</script>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/searchColleges.js"></script>
	</body>

</html>